<header class="site-header">

  <div class="wrapper">

    <div class="logo">
      <img src="{{ site.baseurl }}/img/good-intentions-chatbot-logo.png">
      <a class="site-title" href="{{ site.baseurl }}/">
        Good Intentions
      </a>
    </div>

    <nav class="main-nav">
      <ul>
        <li><span><a href="/docs">Documentation</a></span></li>
        <li><span><a href="https://github.com/GoodIntentionsAssistant" target="_blank">Download</a></span></li>
      </ul>
    </li>

  </div>

</header>
