
<nav>

  <ul>
    <li><a href="{{ site.baseurl }}/">Getting Started</a>
      <ul style="display:none;">
        <li><a href="{{ site.baseurl }}/en/start/installation">Installation</a></li>
        <li><a href="{{ site.baseurl }}/en/start/configuration">Configuration</a></li>
        <li><a href="{{ site.baseurl }}/en/start/development">Development Tips</a></li>
        <li><a href="{{ site.baseurl }}/en/start/components">Key components</a></li>
        <li><a href="{{ site.baseurl }}/en/start/contributing">Contributing</a></li>
      </ul>
    </li>

    <li><a href="{{ site.baseurl }}/en/clients/">Clients</a>
      <ul style="display:none;">
        <li><a href="{{ site.baseurl }}/en/clients/authorizing">Authorizing</a></li>
        <li><a href="{{ site.baseurl }}/en/clients/request">Request</a></li>
        <li><a href="{{ site.baseurl }}/en/clients/response">Response</a></li>
        <li><a href="{{ site.baseurl }}/en/clients/sdk">Client SDK</a></li>
      </ul>

    <li><a href="{{ site.baseurl }}/en/skills/">Skills</a>
      <ul style="display:none;">
        <li><a href="{{ site.baseurl }}/en/skills/create">Creating a skill</a></li>
        <li>Events</li>
      </ul>

    <li><a href="{{ site.baseurl }}/en/intents/">Intents</a>
      <ul style="display:none;">
        <li><a href="{{ site.baseurl }}/en/intents/training">Training</a></li>
        <li><a href="{{ site.baseurl }}/en/intents/parameters">Parameters</a></li>
        <li><a href="{{ site.baseurl }}/en/intents/result">Returning result</a></li>
        <li><a href="{{ site.baseurl }}/en/intents/attachments">Attachments</a></li>
        <li><a href="{{ site.baseurl }}/en/intents/expects">Expects</a></li>
        <li><a href="{{ site.baseurl }}/en/intents/redirect">Redirecting</a></li>
        <li><a href="{{ site.baseurl }}/en/intents/fallback">Fallbacks</a></li>
      </ul>
    </li>

    <li><a href="{{ site.baseurl }}/en/entities/">Entities</a>
      <ul style="display:none;">
        <li><a href="{{ site.baseurl }}/en/entities/data">Entity data</a></li>
        <li><a href="{{ site.baseurl }}/en/entities/entity_load_json">Loading from JSON</a></li>
        <li><a href="{{ site.baseurl }}/en/entities/entity_load_csv">Loading from CSV</a></li>
        <li><a href="{{ site.baseurl }}/en/entities/entity_load_custom">Loading custom data</a></li>
        <li>Parsing for parameters</li>
      </ul>
    </li>

    <li><a href="{{ site.baseurl }}/en/app/">App</a>
      <ul style="display:none;">
        <li><a href="{{ site.baseurl }}/en/app/errors">Errors</a></li>
        <li style="display:none;">Server</li>
        <li style="display:none;">Clients</li>
        <li style="display:none;">Training</li>
        <li style="display:none;"><a href="{{ site.baseurl }}/en/app/queue">Queue + flood protection</a></li>
        <li style="display:none;"><a href="{{ site.baseurl }}/en/app/requests">Requests</a></li>
        <li style="display:none;">Data</li>
        <li style="display:none;">Logging</li>
        <li style="display:none;">Caching</li>
        <li style="display:none;">Storage</li>
        <li style="display:none;">Scrubber</li>
      </ul>
    </li>

    <li><span>Conventions</span>
      <ul style="display:none;">
        <li>Code formatting</li>
        <li>Code documentation</li>
        <li>Unit tests</li>
      </ul>
    </li>
  </ul>

</nav>
