
body.docs.documentation, ,
  body.docs.packages {

  article.post {
    margin: 0 50px;
  }

}



body.docs.install,
  body.docs.integrations {

  article.post {
    flex-grow:1;
    margin:0 50px 0 0;
  }

}