
/**
 * Navigation
 */
.docs .page-content > .wrapper {
  display: flex;
  align-items: flex-start;
}

.side-nav {
  flex-shrink:0;

  width:220px;

  background-color:#f7f7f7;
  padding:20px;

  nav > ul > li > a {
    margin:0 0 5px 0;
    font-weight:600;
  }

  ul {
      margin:0 0 1em 10px;
      li {
        font-size:12px;
        list-style-type:none;
        line-height:1.5rem;
      }
  }
}


.contents-nav {
  width:180px;
  flex-shrink:0;

  nav {
    border-left:5px solid $primary-colour;

    ul {
      margin:0;
      padding:5px 0;
      li {
        margin:0 0 12px 10px;
        font-size:12px;
        list-style-type:none;
        line-height:1rem;

        &:last-child {
          margin-bottom:0;
        }

        &:first-child {
          a { font-weight:bold;  }
        }
      }
    }
  }
}
